.dev-info {
  position: absolute;
  top: 10px;
  left: 10px;

  &__container {
    position: relative;
  }
}

.dev-info__table {
  tr td:nth-child(2) {
    font-weight: bolder;
    color: green;
  }
}
