.main-page {
  .ant-tabs {
    width: 500px;
    max-width: 70vw;

    .ant-tabs-nav-wrap {
      display: flex;
      justify-content: center;

      .ant-tabs-tab {
        margin: 0 16px;
      }
    }
  }
}
